$backg: #f1f1f1;

body {
  margin:0;
  background: $backg !important;
}

.jumbotron, .col-xs-6, #streak, #volume, #about {
  border-bottom: 3px solid #e5e5e5 !important;
  background-color: #fff;
}

#about, footer {
  padding: 10px;
  text-align: center;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.footer-list li {
  display: inline;
}

.col-xs-6 {
  border-right: 5px solid $backg;
  text-align: center;
  padding: 0 0 10px 0;
  h3 {
    font-style: oblique;
    padding-bottom: 10px;
  }
  #recent {
    border-top: 2px dotted #e5e5e5;
    padding-top: 10px;
  }
}

output {
  text-align: center;
  color: red;
}

code {
  color: green;
}

span {
  color: red;
}

button.btn.btn-primary.pull-right {
  background-color: #222222;
}

.popover {
  max-width: 100%;
}
