doctype html
html(ng-app="stamina")
  include includes/head.jade
  body
    #wrapper(ng-controller="mainCtrl")
      include includes/nav.jade
      .container-fluid
        div(ng-view)
        include includes/modals.jade
    include includes/footer.jade
