head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Stamina
  base(href="/")
  link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
  link(rel="stylesheet", href="/stylesheets/theme.css")
  script(src="/javascripts/jquery-1.11.3.min.js" type="text/javascript")
  script(src="/javascripts/bootstrap.min.js" type="text/javascript")  
  script(src="/javascripts/angular-1.5.0/angular.min.js" type="text/javascript")
  script(src="/javascripts/angular-1.5.0/angular-route.min.js" type="text/javascript")
  script(src="/javascripts/angular-1.5.0/angular-animate.min.js" type="text/javascript")
  
  // Angular App
  script(src="/javascripts/app.js" type="text/javascript")
  script(src="/javascripts/controllers/dashCtrl.js" type="text/javascript")
  script(src="/javascripts/controllers/submCtrl.js" type="text/javascript")
  script(src="/javascripts/controllers/contCtrl.js" type="text/javascript")
  script(src="/javascripts/controllers/updCtrl.js" type="text/javascript")