form(name="wForm", novalidate, ng-controller="mainCtrl")
  .form-group
    label(for="date") Date:
    input.form-control(type="date", ng-model="formData.date", placeholder="yyyy-mm-dd", name="date", id="date", required)
    p(ng-show="wForm.date.$invalid && !wForm.date.$pristine", class="error") Please enter a valid date.
    br
      
    label(for="exercise") Exercise: 
    select.form-control(type="text", name="exercise", id="exercise" ng-model="formData.exercise", required)
      option Bench
      option Squat
      option Deadlift
      option Press
      option Chin
    br
      
    label(for="weight") Weight: 
    output(for="weight", id="weightOut", ng-show="wForm.weight.$dirty")
    br
    input.form-control(type="range", name="weight", id="weight", ng-model="formData.weight", min="0", max="500", required, oninput="document.getElementById('weightOut').innerHTML = parseInt(document.getElementById('weight').value,10)")
    br
      
    label(for="sets") Sets:
    output(for="sets", id="setsOut", ng-show="wForm.sets.$dirty")
    br
    input.form-control(type="range", name="sets", id="sets", ng-model="formData.sets", min="0", max="20", required, oninput="document.getElementById('setsOut').innerHTML = parseInt(document.getElementById('sets').value,10)")
    br
      
    label(for="reps") Reps:
    output(for="reps", id="repsOut", ng-show="wForm.reps.$dirty")
    br
    input.form-control(type="range", name="reps", id="reps", ng-model="formData.reps", min="0", max="20", required, oninput="document.getElementById('repsOut').innerHTML = parseInt(document.getElementById('reps').value,10)")
    br

  button.btn.btn-primary.pull-right(type="submit", ng-click="decideAction()", ng-disabled="wForm.$invalid") Save