doctype html
html(ng-app="stamina")
  include includes/head.jade
  body(ng-controller="mainController")
    #wrapper 
      .container-fluid
        include includes/nav.jade

        .jumbotron.text-center
          h2 {{ title }}
        
        .container-fluid
          include includes/dashboard.jade

        include includes/submit.jade
         
      .container-fluid 
        include includes/about.jade
        include includes/contact.jade  

    br
    br
    include includes/footer.jade
