doctype html
html(ng-app="stamina")
  include includes/head.jade
  body
    #wrapper 
      .container-fluid
        include includes/nav.jade

        .jumbotron.text-center
          h2 Stamina
        
        div(ng-view)

    br
    br
    include includes/footer.jade
