doctype html
html(ng-app="stamina")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Stamina
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/theme.min.css")
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/bootstrap.min.js")  
    script(src="/javascripts/angular.min.js")
    script(src="core.js")

  body(ng-controller="mainController")
    .container-fluid

      if (!user)
        <script>window.location='/login'</script>

      nav.navbar.navbar-inverse(role="navigation")
        .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#mynavbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#", ng-click="setView(true,false)") Stamina
 
        #mynavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="#", ng-click="setView(true,false)") Home
            li.dropdown
              a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Menu 
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#", ng-click="clickSubmit()") Submit
                li: a(href="#", ng-click="setView(true,false)") View
            li: a( href="#about" ) About
            li: a( href="#contact" ) Contact
          ul.nav.navbar-nav.navbar-right
            if (user)
              li: a #{user.username}
            li: a( href="/logout") Logout

      .jumbotron.text-center
        h2 {{ title }}

      table.table.table-hover(ng-show="showTable")
        thead
          tr
            th Date
            th Exercise
            th Weight
            th Sets
            th Reps
            th Action
        tbody
          // display ten most recent workouts
          tr(ng-repeat="w in workouts.slice(-10)")
            td {{ w.date }}
            td {{ w.exercise }}
            td {{ w.weight }}
            td {{ w.sets }}
            td {{ w.reps }}
            td
              button.btn.btn-link(ng-click="updateWorkout(w._id)") Update
              button.btn.btn-link(ng-click="deleteWorkout(w._id)") Delete

      form(novalidate, ng-show="showForm")
        .form-group
          p Date: 
          input.form-control(type="date", ng-model="formData.date", placeholder="yyyy-mm-dd")
          p Exercise: 
          input.form-control(type="text", ng-model="formData.exercise", placeholder="e.g. Bench Press")
          p Weight: 
          input.form-control(type="number", ng-model="formData.weight", placeholder="e.g. 225")
          p Sets: 
          input.form-control(type="number", ng-model="formData.sets", placeholder="e.g. 3")
          p Reps: 
          input.form-control(type="number", ng-model="formData.reps", placeholder="e.g. 8")
 
        button.btn.btn-primary.pull-right(type="submit", ng-click="decideAction()") Save
         
