#about
  ul
    li <code>stamina</code> is a simple webapp for logging lifting sessions.
    br
    li View the project on&nbsp;
      a(href="https://github.com/jdweeks/stamina", target="_blank") GitHub.