form(name="cForm", id='contact', novalidate, ng-controller='contCtrl')
  .form-group
    label(for="email") Email
    input.form-control(type="email", name="email", ng-model="contactData.email", required)
    p(ng-show="cForm.email.$invalid && !cForm.email.$pristine", class="error") Please enter a valid email.
    br
    label(for="reason") Subject
    select.form-control(type="select", name="reason", ng-model="contactData.reason", required)
      option Report a bug
      option Suggest a feature
      option Give us your feedback
    br
    label(for="msg") Message
    textarea.form-control.vresize(name="msg", ng-model="contactData.msg", required)
    br
  button.btn.btn-primary.pull-right(type="submit", ng-click="sendFeedback()", ng-disabled="cForm.$invalid") Send