.jumbotron.text-center
  h2 Submit
form(name="wForm", novalidate, ng-controller="submCtrl")
  .form-group
    // label(for="date") Date:
    // input.form-control(type="date", ng-model="formData.date", placeholder="yyyy-mm-dd", name="date", id="date", required)
    // p(ng-show="wForm.date.$invalid && !wForm.date.$pristine", class="error") Please enter a valid date.
    // br
      
    label(for="exercise") Exercise: 
    select.form-control(type="text", name="exercise", id="exercise" ng-model="formData.exercise", required)
      option Bench
      option Squat
      option Deadlift
      option Press
      option Chin
    br
      
    label(for="weight") Weight: 
    output {{ formData.weight }}
    br
    input.form-control(type="range", name="weight", id="weight", ng-model="formData.weight", min="0", max="500", required)
    br
      
    label(for="sets") Sets:
    output {{ formData.sets }}
    br
    input.form-control(type="range", name="sets", id="sets", ng-model="formData.sets", min="0", max="20", required)
    br
      
    label(for="reps") Reps:
    output {{ formData.reps }}
    br
    input.form-control(type="range", name="reps", id="reps", ng-model="formData.reps", min="0", max="20", required)
    br

  button.btn.btn-primary.pull-right(type="submit", ng-click="createWorkout()", ng-disabled="wForm.$invalid") Save