body {
  margin: 0;
  background: #f1f1f1 !important; }

.jumbotron, .col-xs-6, #streak, #volume, #about {
  border-bottom: 3px solid #e5e5e5 !important;
  background-color: #fff; }

#about, footer {
  padding: 10px;
  text-align: center; }
  #about > ul, footer > ul {
    list-style-type: none;
    padding-left: 0; }

.footer-list > li {
  display: inline; }

.col-xs-6 {
  border-right: 5px solid #f1f1f1;
  text-align: center;
  padding: 0 0 10px 0; }
  .col-xs-6 h3 {
    font-style: oblique;
    padding-bottom: 10px; }

#recent {
  border-top: 2px dotted #e5e5e5;
  padding-top: 10px; }

output {
  text-align: center;
  color: red; }

code {
  color: green; }

span {
  color: red; }

.pull-right {
  background-color: #222222; }
