.repeat-item.ng-leave {
  transition: 0.5s linear all;
  opacity: 1; }

.repeat-item.ng-leave.ng-leave-active {
  opacity: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background: #f1f1f1 !important; }

.jumbotron, .col-md-6, #records, #streak, #volume, #about {
  border-bottom: 3px solid #e5e5e5 !important;
  background-color: #fff; }

#mynavbar > ul > li > a, .navbar-brand {
  color: #d8d8d8 !important; }
  #mynavbar > ul > li > a:hover, .navbar-brand:hover {
    color: #fff !important; }

#about, footer {
  text-align: center; }
  #about > ul, footer > ul {
    list-style-type: none;
    padding-left: 0; }

footer {
  margin-top: 25px; }

#about {
  padding: 10px; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5px; }

.footer-list > li {
  display: inline; }

.col-md-6 {
  border-right: 5px solid #f1f1f1;
  text-align: center;
  padding: 0 0 10px 0; }
  .col-md-6 h3 {
    font-style: oblique;
    padding: 10px 0 10px 0; }

.repeat-item {
  border-top: 2px dotted #e5e5e5;
  padding-top: 10px; }

#records, #streak, #volume {
  margin-top: -16px; }

.vresize {
  resize: vertical; }

output {
  text-align: center;
  color: red; }

code {
  color: green; }

span {
  color: red; }

.pull-right {
  background-color: #222222; }
  .pull-right:disabled {
    background: #3c3c3c; }
    .pull-right:disabled:hover {
      background: #2f2f2f; }

.error {
  margin: 5px;
  font-style: oblique; }

.dashboard {
  background-color: #f1f1f1;
  border-bottom: none !important; }
